# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.c~
*.sh
cscope.*
lib/.dirstamp
lib/.libs/
lib/libcurl.la
src/.libs/
src/curl
curl-config
docs/
include/curl/stamp-h2
lib/curl_config.h
lib/libcurl.vers
lib/stamp-h1
libtool
include/curl/curlbuild.h
Makefile
libs
tags
*.log
*.status
.deps
*.spec
*.list
*.pm
*.pc
*.txt
*.o
*.lo

